{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <h1>Create new Message</h1>

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('app_message_index') }}">back to list</a>
    <div class="container mt-5">
        <h1 class="text-center mb-4">📩 Send a Message to {{ blog.author.username }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.content) }}

        <button type="submit" class="btn btn-primary mt-3">Send Message</button>
        {{ form_end(form) }}

        <a href="{{ path('app_blog_show', {'id': blog.id}) }}" class="btn btn-secondary mt-3">Back</a>
    </div>
{% endblock %}
